.search-container {
    align-items: center;
    width: 100%;
    max-width: 500px;
    margin: 20px auto;
    padding: 5px 0;
    border-radius: 8px; 
}

.search-container input[type="text"] {
    flex: 1;
    border: none;
    outline: none;
    padding: 12px 15px;
    font-size: 16px;
    background-color: #f9f9f9;
    color: #000;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1); 
    transition: all 0.3s ease; 
}

.search-container input[type="text"]::placeholder {
    color: #aaa;
    font-style: italic; 
}

.search-container button {
    background-color: #000; 
    color: #fff; 
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.3s ease; 
    width: 100%;
}

.search-container button:hover {
    background-color: #fff;
    color: #000; 
    border: 2px solid #000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.blog-wrapper {
    position: relative;
    z-index: 1;
}

.blog-wrapper .single-blog-area {
    position: relative;
    z-index: 1;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    overflow: hidden;
}

.blog-wrapper .single-blog-area img {
    width: 100%;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}

.blog-wrapper .single-blog-area .post-title {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    background-color: #ffffff;
    padding: 20px 40px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 85%;
    height: auto;
    z-index: 10;
}

@media only screen and (max-width: 767px) {
    .blog-wrapper .single-blog-area .post-title {
        padding: 20px;
    }
}

.blog-wrapper .single-blog-area .post-title a {
    display: block;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
}

@media only screen and (max-width: 767px) {
    .blog-wrapper .single-blog-area .post-title a {
        font-size: 14px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .blog-wrapper .single-blog-area .post-title a {
        font-size: 18px;
    }
}

.blog-wrapper .single-blog-area .hover-content {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    background-color: #ffffff;
    background-color: #ffffff;
    padding: 20px 40px;
    position: absolute;
    width: 85%;
    height: 100%;
    z-index: 100;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .blog-wrapper .single-blog-area .hover-content {
        padding: 20px;
    }
}

@media only screen and (max-width: 767px) {
    .blog-wrapper .single-blog-area .hover-content {
        padding: 20px;
    }
}

.blog-wrapper .single-blog-area .hover-content .hover-post-title a {
    display: block;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 20px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .blog-wrapper .single-blog-area .hover-content .hover-post-title a {
        font-size: 16px;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 767px) {
    .blog-wrapper .single-blog-area .hover-content .hover-post-title a {
        font-size: 14px;
        margin-bottom: 10px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .blog-wrapper .single-blog-area .hover-content .hover-post-title a {
        font-size: 18px;
        margin-bottom: 20px;
    }
}

.blog-wrapper .single-blog-area .hover-content .hover-post-title a:hover {
    color: #000000;
}

@media only screen and (max-width: 767px) {
    .blog-wrapper .single-blog-area .hover-content p {
        display: none;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .blog-wrapper .single-blog-area .hover-content p {
        display: block;
        font-size: 14px;
        line-height: 1.7;
    }
}

.blog-wrapper .single-blog-area .hover-content>a {
    display: block;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 0 !important;
    color: #000000;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin-top: 50px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .blog-wrapper .single-blog-area .hover-content>a {
        margin-top: 15px;
    }
}

@media only screen and (max-width: 767px) {
    .blog-wrapper .single-blog-area .hover-content>a {
        margin-top: 30px;
    }
}

.blog-wrapper .single-blog-area:hover .hover-content,
.blog-wrapper .single-blog-area:focus .hover-content {
    opacity: 1;
    visibility: visible;
}

.blog-wrapper .single-blog-area:hover img,
.blog-wrapper .single-blog-area:focus img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.single-blog-wrapper {
    position: relative;
    z-index: 1;
}

.single-blog-wrapper .single-blog-content-wrapper {
    position: relative;
    z-index: 1;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.single-blog-wrapper .single-blog-content-wrapper .single-blog--text {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
    width: 75%;
    padding: 70px 7%;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .single-blog-wrapper .single-blog-content-wrapper .single-blog--text {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 65%;
        flex: 0 0 65%;
        max-width: 65%;
        width: 65%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .single-blog-wrapper .single-blog-content-wrapper .single-blog--text {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 60%;
        flex: 0 0 60%;
        max-width: 60%;
        width: 60%;
    }
}

@media only screen and (max-width: 767px) {
    .single-blog-wrapper .single-blog-content-wrapper .single-blog--text {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        width: 100%;
    }
}

.single-blog-wrapper .single-blog-content-wrapper .single-blog--text h2 {
    font-size: 30px;
    line-height: 1.5;
    margin-bottom: 50px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .single-blog-wrapper .single-blog-content-wrapper .single-blog--text h2 {
        font-size: 24px;
        margin-bottom: 30px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .single-blog-wrapper .single-blog-content-wrapper .single-blog--text h2 {
        font-size: 20px;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 767px) {
    .single-blog-wrapper .single-blog-content-wrapper .single-blog--text h2 {
        font-size: 18px;
        margin-bottom: 20px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .single-blog-wrapper .single-blog-content-wrapper .single-blog--text h2 {
        font-size: 24px;
    }
}

.single-blog-wrapper .single-blog-content-wrapper .single-blog--text p {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 50px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .single-blog-wrapper .single-blog-content-wrapper .single-blog--text p {
        font-size: 16px;
    }
}

@media only screen and (max-width: 767px) {
    .single-blog-wrapper .single-blog-content-wrapper .single-blog--text p {
        font-size: 14px;
    }
}

.single-blog-wrapper .single-blog-content-wrapper .single-blog--text blockquote {
    margin-bottom: 50px;
}

.single-blog-wrapper .single-blog-content-wrapper .single-blog--text blockquote h6 {
    font-size: 18px;
    line-height: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.single-blog-wrapper .single-blog-content-wrapper .single-blog--text blockquote h6 i {
    margin-right: 30px;
    font-size: 30px;
    color: #000000;
}

.single-blog-wrapper .single-blog-content-wrapper .single-blog--text blockquote span {
    margin-left: 60px;
    font-size: 16px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.6);
}

.single-blog-wrapper .single-blog-content-wrapper .related-blog-post {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    width: 25%;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .single-blog-wrapper .single-blog-content-wrapper .related-blog-post {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 35%;
        flex: 0 0 35%;
        max-width: 35%;
        width: 35%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .single-blog-wrapper .single-blog-content-wrapper .related-blog-post {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
        flex: 0 0 40%;
        max-width: 40%;
        width: 40%;
    }
}

@media only screen and (max-width: 767px) {
    .single-blog-wrapper .single-blog-content-wrapper .related-blog-post {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        width: 100%;
    }
}

.single-blog-wrapper .single-blog-content-wrapper .related-blog-post .single-related-blog-post {
    position: relative;
    z-index: 1;
    overflow: hidden;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}

.single-blog-wrapper .single-blog-content-wrapper .related-blog-post .single-related-blog-post img {
    width: 100%;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}

.single-blog-wrapper .single-blog-content-wrapper .related-blog-post .single-related-blog-post a {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 5px 50px;
}

.single-blog-wrapper .single-blog-content-wrapper .related-blog-post .single-related-blog-post a h5 {
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    margin-bottom: 0;
    line-height: 1.5;
}

.single-blog-wrapper .single-blog-content-wrapper .related-blog-post .single-related-blog-post:hover img,
.single-blog-wrapper .single-blog-content-wrapper .related-blog-post .single-related-blog-post:focus img {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

/* :: 16.0 Regular Page Area CSS */
.regular-page-content-wrapper {
    position: relative;
    z-index: 1;
}

.regular-page-content-wrapper .regular-page-text h2 {
    font-size: 30px;
    line-height: 1.5;
    margin-bottom: 50px;
}

.regular-page-content-wrapper .regular-page-text p {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 50px;
}

.regular-page-content-wrapper .regular-page-text blockquote {
    margin-bottom: 50px;
}

.regular-page-content-wrapper .regular-page-text blockquote h6 {
    font-size: 18px;
    line-height: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.regular-page-content-wrapper .regular-page-text blockquote h6 i {
    margin-right: 30px;
    font-size: 30px;
    color: #0315ff;
}

.regular-page-content-wrapper .regular-page-text blockquote span {
    margin-left: 60px;
    font-size: 16px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.6);
}