.checkout_details_area form label {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
}

.checkout_details_area form label span {
    color: #0315ff;
}

.checkout_details_area form .form-control {
    height: 42px;
    border: 1px solid #ebebeb;
    background-color: transparent;
    border-radius: 0;
}

.checkout_details_area form .nice-select {
    border-radius: 0;
    border: 1px solid #ebebeb;
}

.checkout_details_area form .nice-select .list {
    width: 100%;
    border-radius: 0;
}

.order-details-confirmation {
    width: 100%;
    border: 2px solid #ebebeb;
    padding: 40px;
}

@media only screen and (max-width: 767px) {
    .order-details-confirmation {
        margin-top: 100px;
        padding: 20px;
    }
}

.order-details-confirmation .order-details-form li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 0;
    font-size: 12px;
    text-transform: uppercase;
    padding: 20px 0;
    border-bottom: 2px solid #ebebeb;
    font-weight: 600;
}

.order-details-confirmation .card-header h6 a {
    display: block;
    font-size: 14px;
    text-transform: uppercase;
}

.order-details-confirmation .card-header h6 a i {
    color: #9f9f9f;
}

.order-details-confirmation .card {
    border: none;
}

.order-details-confirmation .card-header {
    background-color: transparent;
    border-bottom: none;
}

.order-details-confirmation .card-body p {
    font-size: 12px;
    line-height: 2;
    color: #9f9f9f;
}
.btn-place-order:hover {
    background-color: black;
    transform: scale(1.05);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Add shadow on hover */
    transform: translateY(-2px); /* Lift button slightly */
}

.order-details-confirmation .order-details-form li span {
    flex: 1; 
    text-align: center; 
}
.order-details-confirmation .order-details-form li span:first-child {
    text-align: left;
}

.order-details-confirmation .order-details-form li span:last-child {
    text-align: right;
}
