.footer_area {
    position: relative;
    z-index: 1;
    background-color: black;
    padding: 70px 0 60px;
}
.logo-footer {
    width: 100px;
    float: left;
    position: relative;
    right: 10px;
}
@media only screen and (max-width: 767px) {
    .logo-footer {
        width: 60%;
        margin-top: 155px;
        display: block;
    }
    .footer_area .single_widget_area .footer_menu ul {
        display: flex;
        justify-content: center;
        margin: 300px auto 0;
        transform: none;
    }

    .footer_area .single_widget_area {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer_area .single_widget_area .subscribtion_form,
    .footer_area .single_widget_area .footer_widget_menu,
    .footer_area .single_widget_area .footer_social_area {
        float: none;
        margin: 10px auto;
    }
}

.footer_area .single_widget_area .footer_menu ul {
    display: flex;
    margin-left: 200px;
}
.footer_area .single_widget_area .footer_menu ul li a {
    font-size: 15px;
    color: white;
    display: block;
    font-family: "Ubuntu", sans-serif;
    padding: 0 10px;
    text-transform: uppercase;
    text-decoration: none;
}

.footer_area .single_widget_area .footer_menu ul li a:hover,
.footer_area .single_widget_area .footer_menu ul li a:focus {
    color: black;
    font-size: 17px;
    color: #ffffff;
}
.footer_area .single_widget_area .footer_widget_menu {
    float: right;
}
.footer_area .single_widget_area .footer_widget_menu li {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    width: 50%;
}

.footer_area .single_widget_area .footer_widget_menu li a {
    display: block;
    font-size: 12px;
    color: white;
    display: block;
    font-weight: 400;
    margin-bottom: 10px;
    text-decoration: none;
}
#input-mail::placeholder {
    color: white;
}

.footer_area .single_widget_area .footer_widget_menu li a:hover,
.footer_area .single_widget_area .footer_widget_menu li a:focus {
    font-size: 14px;
}

.footer_area .single_widget_area .footer_heading h6 {
    color: #ffffff;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-left: 10px;
}

.footer_area .single_widget_area .subscribtion_form form {
    position: relative;
    z-index: 1;
    width: 270px;
}
.footer_area .single_widget_area .subscribtion_form {
    float: left;
}

.footer_area .single_widget_area .subscribtion_form form input {
    width: 100%;
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.6);
    color: white;
    font-size: 12px;
    height: 35px;
    background-color: transparent;
    outline: none;
}
.footer_area .single_widget_area .subscribtion_form form input:focus {
    border-bottom-color: #ffffff;
    color: #ffffff;
}

.footer_area .single_widget_area .subscribtion_form form button {
    width: 30px;
    height: 35px;
    border: none;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.6);
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.footer_area .single_widget_area .footer_social_area a {
    color: #ffffff;
    display: inline-block;
    padding: 0 10px;
    font-size: 16px;
    float: right;
}
@media only screen and (max-width: 767px) {
    .footer_area .single_widget_area .footer_social_area a img {
        display: block;
        margin: 0 auto;
    }
    .footer_area .single_widget_area .footer_heading h6 {
        text-align: center;
        margin: 0 auto;
    }
    .subscribe {
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }
}
