.container-rating-product {
    line-height: 1.6;
    color: #333;
}

.ctn-rating-product {
    max-width: 1600px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    text-align: center;
    background-color: black;
    color: white;
    height: 55px;
}

.header h1 {
    color: white;
}
.ctn-rating-product p{
    text-align: center;
}

.navigation ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 20px 0;
    padding: 0;
}

.navigation li {
    margin: 0 15px;
}

.navigation a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.navigation a.active {
    color: black;
    border-bottom: 2px solid black;
}




.ctn-body-rating-product {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 90vw; 
    margin: 0 auto;
    align-items: center;
    padding-right: 70px;
}
.product-item {
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
}

.product-image {
    width: 130px;
    height: 130px;
    object-fit: cover;
    border-radius: 10px;
    margin-left: 70px;
}

.product-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
    margin-left: 60px;
}

.rating {
    display: flex;
    gap: 5px;
}

.rating span {
    font-size: 20px;
    color: #ffcc00;
    cursor: pointer;
}

.description {
    height: 100px;
    background-color: #dcdcdc;
    border-radius: 5px;
    margin-bottom: 50px;
    width: 65vw;
}

@media only screen and (max-width: 767px) {
    .product-item {
        flex-direction: column;
        padding: 10px;
    }

    .product-image {
        width: 200px;
        height: 200px;
        margin-left: 0;
    }

    .product-info {
        margin-left: 0;
        text-align: center;
    }

    .description {
        width: 90vw;
        height: 200px;
    }

    .rating {
        justify-content: center;
    }
}